/archive/
/binary_transparency/
/build/*/
/build/.fdroidvcs-*
/builder/
/git-mirror/
/repo/
/stats/data/
/stats/logs/
/stats/publishsigkeys.jar
/tmp/
/unsigned/


*.apk
*.jks
*.p12
*~
.fdroid*
__pycache__
